
body{
    background-color: #c2c2c2;
}

#giphys-view{
    height: 100%;
    width: 100%;
    display: inline-block;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.sizedgiphy{
    height: 200px;
    width: 175px;
}
